.DS_Store
Thumbs.db

*.swp

# Derby
*.lck
*.dat
*.ctrl
*.log

# Gradle
build
.gradle/

# emacs stuff
*~

# Compiled
*.class
bin

# Eclipse
.project
.settings
.classpath

.metadata/

# Intellij Idea IDE
.idea/
*.iml
*.eml

# Release directories
release
*.bin
deco2800.arcade.server/Release
games/

# Gradle settings and build files
.gradle/


# Ignore all .log files anywhere
**/*.log
# Including multipart log files
**/*.log.*


*.bin

*.bin
