.DS_Store
Thumbs.db

*.swp

# Derby
*.lck
*.dat
*.ctrl
*.log

# Gradle
build
.gradle

# emacs stuff
*~

# Compiled
*.class
bin

# Eclipse
.project
.settings
.classpath

.metadata/

# Intellij Idea IDE
.idea/
*.iml
*.eml

# Release
release

# Gradle settings and build files
.gradle/

*.log.1

*.1

*.log
